@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
:root {
  --main-font-color: #f9faf8;
  --dark-bg-color: #1f2937;
  --light-bg-color: #e5e7eb;
  --highlight-color: #3882f6;
}

html {
  font-family: Roboto;
}
ul > li {
  list-style: none;
}
li > a {
  text-decoration: none;
}
a {
  color: var(--main-font-color);
}
a:visited {
  color: var(--main-font-color);
}

header {
  background-color: var(--dark-bg-color);
  color: var(--main-font-color);
}
.navbar {
  display: flex;
  height: 100px;
  justify-content: space-between;
}
.container {
  width: 70%;
}
.hero-section {
  color: var(--light-bg-color);
  background-color: var(--dark-bg-color);
  padding: 100px;
}
.hero-section-container {
  display: flex;
  justify-content: space-between;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.rightlinks {
  display: flex;
}
.logo {
  font-size: 24px;
  color: var(--main-font-color);
}
.rightlinks > li {
  margin-left: 75px;
}

img {
  width: 100%;
  height: auto;
  max-width: 200px;
  aspect-ratio: 3 / 2;
}
.ss1 {
  margin-left: 250px;
}

p.welcome,
button {
  margin-top: 25px;
}

.gallery-section-container > h3 {
  text-align: center;
  padding: 25px;
  font-size: 36px;
  color: var(--dark-bg-color);
  font-weight: 900;
}

.gallery-section-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.galleryitem {
  max-width: 250px;
}
