@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
:root {
  --main-font-color: #f9faf8;
  --dark-bg-color: #1f2937;
  --light-bg-color: #e5e7eb;
  --highlight-color: #3882f6;
}

html {
  font-family: Roboto;
}
ul > li {
  list-style: none;
}
li > a {
  text-decoration: none;
}
a {
  color: var(--main-font-color);
}
a:visited {
  color: var(--main-font-color);
}

header {
  background-color: var(--dark-bg-color);
  color: var(--main-font-color);
}
.navbar {
  display: flex;
  height: 1.5em;
  justify-content: space-between;
}
.container {
  width: 70%;
}
.hero-section {
  color: var(--light-bg-color);
  background-color: var(--dark-bg-color);
  padding: 5em;
}
.hero-section-container {
  display: flex;
  justify-content: space-between;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.rightlinks {
  display: flex;
}
.logo {
  font-size: 3em;
  color: var(--main-font-color);
}
.rightlinks > li {
  margin-left: 5.5em;
}

.ss1 {
  margin-left: 25em;
}
img {
  width: 100%;
  height: auto;
  max-width: 600px;
  aspect-ratio: 3 / 2;
}

p.welcome,
button {
  margin-top: 2.5em;
  padding: 1em;
  /* margin-left: 5em; */
}

.gallery-section-container > h3 {
  text-align: center;
  padding: 2em;
  font-size: 2em;
  color: var(--dark-bg-color);
  font-weight: 900;
}

.gallery-section-gallery {
  display: flex;
  flex-wrap: wrap;
  /* gap: 1em; */
  width: 100%;
}
.galleryitem {
  max-width: 300px;
  height: auto;
  margin: 2.5em;
  border: 5px solid;
  border-color: var(--highlight-color);
  margin-left: 9em;
  border-radius: 10%;
}
.quote-section {
  margin: 5em;
}
.quote {
  background-color: var(--light-bg-color);
  padding: 10em;
  font-size: 1.5em;
  color: var(--dark-bg-color);
  font-style: italic;
}
.calltoaction {
  width: 60%;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 15em;
  background-color: var(--highlight-color);
  text-align: justify;
  margin-bottom: 4em;
  padding: 5em;
}
.join {
  align-self: baseline;
}
.footer {
  text-align: center;
  color: var(--main-font-color);
  background-color: var(--dark-bg-color);
  padding: 2em;
}
.calltoaction > button {
  margin-left: 10em;
}

button {
  background-color: var(--highlight-color);
  color: var(--main-font-color);
  margin-left: 5em;
  border-radius: 10%;
  border: white 1px solid;
}
#second-signup {
  margin-left: 10em;
}
